<app-page-header
  title="Pagos"
  description="Modulo de administración de pagos" />
<app-table
  [data]="paymentsResource.value() || []"
  [columnsInput]="columns()"
  [loading]="paymentsResource.isLoading()">
  <ng-template #tableActionTemplate let-payment>
    <div class="flex items-center justify-center gap-5">
      <app-button-secondary tooltip="Editar" icon="lucidePencil" />
      <app-button-danger
        tooltip="Eliminar"
        icon="lucideTrash"
        message="¿Estás seguro de eliminar este pago?"
        (event)="deletePayment(payment.id)" />
    </div>
  </ng-template>
</app-table>
