<div class="space-y-3">
  <div class="hidden flex-col items-center md:flex">
    <div class="flex flex-1 gap-5">
      <p-skeleton width="9rem" height="3rem" styleClass="mb-2" />
      <p-skeleton width="9rem" height="3rem" styleClass="mb-2" />
      <p-skeleton width="9rem" height="3rem" styleClass="mb-2" />
      <p-skeleton width="9rem" height="3rem" styleClass="mb-2" />
      <p-skeleton width="9rem" height="3rem" styleClass="mb-2 hidden lg:flex" />
    </div>
    <div class="flex flex-1 gap-5">
      <p-skeleton width="9rem" height="6rem" styleClass="mb-2" />
      <p-skeleton width="9rem" height="6rem" styleClass="mb-2" />
      <p-skeleton width="9rem" height="6rem" styleClass="mb-2" />
      <p-skeleton width="9rem" height="6rem" styleClass="mb-2" />
      <p-skeleton width="9rem" height="6rem" styleClass="mb-2 hidden lg:flex" />
    </div>
    <div class="flex flex-1 gap-5">
      <p-skeleton width="9rem" height="6rem" styleClass="mb-2" />
      <p-skeleton width="9rem" height="6rem" styleClass="mb-2" />
      <p-skeleton width="9rem" height="6rem" styleClass="mb-2" />
      <p-skeleton width="9rem" height="6rem" styleClass="mb-2" />
      <p-skeleton width="9rem" height="6rem" styleClass="mb-2 hidden lg:flex" />
    </div>
  </div>
  <div class="flex flex-col items-center md:hidden">
    <div class="flex flex-1 gap-5">
      <p-skeleton width="25rem" height="3rem" styleClass="mb-2" />
    </div>
    <div class="flex flex-1 gap-5">
      <p-skeleton width="25rem" height="6rem" styleClass="mb-2" />
    </div>
    <div class="flex flex-1 gap-5">
      <p-skeleton width="25rem" height="6rem" styleClass="mb-2" />
    </div>
  </div>
</div>
