<div>
  <p-inputgroup>
    <p-inputgroup-addon>
      <ng-icon name="heroLockClosed" size="20" class="size-5 text-gray-500" />
    </p-inputgroup-addon>
    <p-floatlabel variant="on">
      <p-password
        [inputId]="id()"
        (input)="onInput($event)"
        (blur)="onTouched()"
        [disabled]="disabled"
        [feedback]="false"
        [toggleMask]="true"
        [ngClass]="{
          'ng-dirty ng-invalid':
            ngControl.touched && ngControl.invalid && ngControl.dirty,
        }"
        class="w-full" />
      <label class="z-10 font-normal" for="{{ id() }}">{{ label() }}</label>
    </p-floatlabel>
  </p-inputgroup>

  @if (ngControl.invalid && ngControl.dirty) {
    <p-message styleClass="mt-2" severity="error">
      @if (ngControl.errors?.['required']) {
        <span>Este campo es obligatorio.</span>
      }
      @if (ngControl.errors?.['minlength']) {
        <span>La contraseña debe tener al menos 6 caracteres.</span>
      }
    </p-message>
  }
</div>
