<form [formGroup]="assignmentsZoneForm" class="mt-5 flex flex-col gap-3">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <p-select
      [options]="campaignsResource.value()?.data"
      formControlName="campaign_id"
      [virtualScroll]="true"
      [virtualScrollItemSize]="38"
      scrollHeight="140px"
      filter="true"
      optionLabel="name"
      optionValue="id"
      (onLazyLoad)="lazyLoadCampaign.set($event)"
      (onFilter)="searchCampaigns($event)"
      placeholder="Seleccione una campaña"
      class="h-10">
    </p-select>

    <app-input-multi-select
      label="Areas de Trabajo"
      [options]="zonesNameValue()!"
      [loading]="zonesResource.isLoading()"
      [filter]="true"
      formControlName="zone_ids" />
  </div>

  <div class="mt-5 flex justify-between gap-5">
    <app-button-secondary
      title="Regresar"
      icon="lucideArrowLeft"
      (event)="goBack()" />
    <app-button-primary
      title="Guardar"
      icon="lucideSettings2"
      [disabled]="assignmentsZoneForm.invalid"
      (event)="onSubmit()" />
  </div>
</form>
