@if (resourceDashboard.isLoading()) {
  <app-spinner />
} @else {
  <div class="mb-8 grid grid-cols-3 gap-2 sm:gap-6">
    <app-dashboard-card
      title="Zonas Asignadas"
      [value]="data()?.summary?.zonas_asignadas || 0"
      icon="lucideUsers"
      iconColor="text-primary-500" />

    <app-dashboard-card
      title="Evaluadores Totales"
      [value]="data()?.summary?.evaluadores_asignados || 0"
      icon="lucideUsers"
      iconColor="text-primary-500" />

    <app-dashboard-card
      title="Campañas Activas"
      [value]="data()?.summary?.active_campaigns || 0"
      icon="lucideCircleCheckBig"
      iconColor="text-green-500" />
  </div>

  <div class="grid md:grid-cols-3">
    <app-dashboard-quick-actions [actions]="actions()" />
  </div>
}
