<form [formGroup]="asssignmentUserForm" class="mt-5 flex flex-col gap-3">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <p-select
      [options]="campaignsResource.value()?.data"
      formControlName="campaign_id"
      [virtualScroll]="true"
      [virtualScrollItemSize]="38"
      scrollHeight="140px"
      filter="true"
      optionLabel="name"
      optionValue="id"
      (onLazyLoad)="lazyLoadCampaign.set($event)"
      (onFilter)="searchCampaigns($event)"
      placeholder="Seleccione una campaña"
      class="h-10">
    </p-select>

    <app-input-multi-select
      id="Usuarios"
      label="Usuarios"
      [options]="usersResource.value()!"
      [loading]="usersResource.isLoading()"
      [filter]="true"
      formControlName="user_ids" />
  </div>

  <div class="mt-5 flex justify-between gap-5">
    <app-button-secondary
      styleClass="py-3"
      title="Regresar"
      icon="lucideArrowLeft"
      (event)="goBack()" />
    <app-button-primary
      title="Guardar"
      icon="lucideSettings2"
      [disabled]="asssignmentUserForm.invalid"
      (event)="onSubmit()" />
  </div>
</form>
