<app-page-header
  title="Usuarios"
  description="Modulo de administración de usuarios" />
<app-table
  [data]="usersResource.value() || []"
  [columnsInput]="columns()"
  [loading]="usersResource.isLoading()">
  <ng-template #tableActionTemplate let-user>
    <div class="flex gap-5">
      <app-button-secondary tooltip="Editar" icon="lucidePencil" />
      <app-button-danger
        tooltip="Eliminar"
        icon="lucideTrash"
        message="¿Estás seguro de eliminar este pago?"
        (event)="deleteUser(user.id)" />
    </div>
  </ng-template>
</app-table>
