<p-table
  #dt
  [value]="data()"
  [columns]="columnsInput()"
  [rows]="paginationOptions()?.rows || 10"
  [totalRecords]="paginationOptions()?.total || 0"
  [rowHover]="true"
  [rowsPerPageOptions]="[10, 15, 20]"
  [loading]="loading()"
  [paginator]="true"
  (onFilter)="onFilter($event)"
  (onPage)="onPageChange($event)"
  [globalFilterFields]="globalFilterFields">
  <ng-template #caption>
    <div class="flex flex-col items-center justify-between gap-4 md:flex-row">
      <p-inputgroup class="flex-1">
        <p-inputgroup-addon>
          <ng-icon name="lucideSearch" size="20" class="size-5 text-gray-500" />
        </p-inputgroup-addon>
        <p-floatlabel variant="on">
          <input
            id="search"
            [formControl]="searchInput"
            pInputText
            type="text"
            class="py-2" />
          <label class="font-normal" for="search">Buscar</label>
        </p-floatlabel>
      </p-inputgroup>

      <div class="flex items-center gap-2">
        @if (filters()) {
          <div class="flex w-full justify-center gap-4 lg:w-fit">
            <p-select
              [options]="filters()"
              [(ngModel)]="filterInput"
              (onChange)="onSearch()"
              optionLabel="name"
              optionValue="value"
              class="w-full lg:w-56" />
          </div>
        }

        <p-button
          pTooltip="Limpiar"
          tooltipPosition="bottom"
          [outlined]="true"
          (click)="clear()">
          <ng-icon name="lucideFilterX" size="1.2em" />
        </p-button>

        <p-button
          pTooltip="exportar"
          tooltipPosition="bottom"
          severity="secondary"
          [outlined]="true"
          (click)="exportCSV()">
          <ng-icon name="lucideDownload" size="1.2em" />
        </p-button>
      </div>
    </div>
  </ng-template>

  <ng-template #header let-columns>
    <tr>
      @for (col of columns; track $index) {
        @if (
          !(
            col.header === 'Acciones' &&
            checkPermissions() &&
            !col.roles?.includes(currentUser().role)
          )
        ) {
          <th [pSortableColumn]="col.sortable ? col.field : undefined">
            <div
              class="flex items-center"
              [ngClass]="
                col.type === 'custom'
                  ? 'justify-around text-center'
                  : 'justify-between'
              ">
              {{ col.header }}
              @if (col.sortable) {
                <p-sortIcon [field]="col.field" />
              }
            </div>
          </th>
        }
      }
    </tr>
  </ng-template>

  <ng-template #body let-rowData let-columns="columns">
    <tr>
      @for (col of columns; track $index) {
        @if (
          !(
            col.header === 'Acciones' &&
            checkPermissions() &&
            !col.roles?.includes(currentUser().role)
          )
        ) {
          <td>
            @if (col.type !== 'custom') {
              @switch (col.pipe) {
                @case ('date') {
                  {{ getValue(rowData, col.field!) | date: col.pipeArgs || [] }}
                }
                @case ('currency') {
                  {{
                    getValue(rowData, col.field!)
                      | currency: col.pipeArgs[0] : col.pipeArgs[1]
                  }}
                }

                @case ('number') {
                  {{
                    getValue(rowData, col.field!) | number: col.pipeArgs || []
                  }}
                }

                @case ('state') {
                  {{ getValue(rowData, col.field!) | stateName }}
                }

                @case ('roles') {
                  {{ getValue(rowData, col.field!) | roles }}
                }

                @case ('severity') {
                  <p-tag
                    [severity]="getSeverity(getValue(rowData, col.field!))"
                    [rounded]="true"
                    [value]="getValue(rowData, col.field!) | titlecase" />
                }

                @default {
                  {{ getValue(rowData, col.field!) }}
                }
              }
            } @else {
              <ng-container
                *ngTemplateOutlet="
                  actionTemplate ?? null;
                  context: { $implicit: rowData }
                ">
              </ng-container>
            }
          </td>
        }
      }
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td [attr.colspan]="columnsInput().length">No data found.</td>
    </tr>
  </ng-template>
</p-table>
