<!-- Header -->
<div class="flex items-center justify-between">
  <app-page-header
    title="Usuarios"
    description="Modulo de administración de usuarios" />
  <app-button-primary
    title="Registrar Usuario"
    icon="lucideUserPlus"
    (event)="createUser()" />
</div>
<!-- Table -->
<app-table
  [data]="usersResource.value()?.data || []"
  [columnsInput]="columns()"
  [filters]="filters()"
  [loading]="usersResource.isLoading()"
  (search)="searchEvent.set($event)"
  (pagination)="pagination.set($event)"
  [checkPermissions]="true">
  <ng-template #tableActionTemplate let-user>
    <div class="flex items-center justify-center gap-5">
      <app-button-secondary
        tooltip="Editar"
        icon="lucidePencil"
        (event)="updateUser(user.id)" />
      <app-button-danger
        tooltip="Eliminar"
        icon="lucideTrash"
        message="¿Está seguro de eliminar este usuario?"
        (event)="deleteUser(user.id)" />
    </div>
  </ng-template>
</app-table>
